<%- include("header.ejs") -%>

<h2>This To Do List WebPage is Created by ChillFlat Team Under the leadership of Mr.Anil Thapa.
    We Would like to thank Angela Yu For the mentorship in the project.
</h2>

<%- include("footer.ejs") -%>