<%- include("header.ejs") -%>
<!-- by doing this we can apply header file to any page -->
    <div class="box" id="heading">
        <h1>
            <%= kindOfDay %>
        </h1>
    </div>
    <div class="box">
        <% for(var i=0;i<newListItems.length; i++) {%>
            <div class="item">
                <input type="checkbox">
                <p>
                    <%= newListItems[i] %>
                </p>
            </div>
            <% } %>
                <form action="/" class="item" method="post">
                    <input type="text" name="newitem" placeholder="New Item" autocomplete="off">
                    <button type="submit">+</button>
                </form>

    </div>

    <%- include("footer.ejs") -%>
    <!-- by doing this we can add footer file to any page.the code for footer file is written in footer.ejs inside views -->

